{% extends 'Base.html' %}
{% load static %}
{% block content %}
<link href="{%static 'DiseñoTemplates/estiloA.css'%}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<h3>u</h3>

<form class="actualizar" action="{% url 'Presentacion:actualizarUBD' %}" method="post">
    {% csrf_token %}
    <h1 class="title">Actualizar Registro</h1>
    <input type="hidden" name="usuario_id" value="{{ usuario_id }}">
    <label>
        <p>USUARIO: {{usuario_id}}</p>
    </label>
    <label>
        <i class="fa-solid fa-envelope"></i>
        <input placeholder="Ingrese Correo" type="email" name="correo1" value="{{ email }}" required>
    </label>

    <label>
        <i class="fa-solid fa-lock"></i>
        <input placeholder="Ingrese la contraseña" type="password" name="contraseña1" value="{{ contrasena }}" required>
    </label>
    <label>
        <i class="fa-solid fa-lock"></i>
        <input placeholder="Confirme la contraseña" type="password" name="contraseña2" value="{{ contrasena }}"
            required>
    </label>
    <button type="submit" id="button">Actualizar</button>
</form>

{% endblock %}